* {
  font-family: inherit;
  font-size: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  line-height: 1.6;
}

::placeholder {
  color: #888;
}

h1, h2, h3, h4, h5, h6,
p {
  margin-top: 0;
  padding-top: 0;
}
