
body {
  color: #50596c;
  font-size: .8rem;
  font-family: "Open Sans", OpenSans, Arial;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  margin: 1rem 0 .5rem 0;
  padding: 1rem 0 .5rem 0;
}
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
  padding-top: 0;
}
h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }

a {
  cursor: pointer;
}

blockquote {
  margin: .2rem 0;
  color: #444;
  padding: 1rem;
  background-color: #f5f5f5;
}

code {
  padding: .2rem;
  background-color: #444;
  color: white;
  font-family: monospace;
}

pre code {
  display: block;
  padding: .5rem 1rem;
}
